body {
  font-family: "Inter", sans-serif;
  background: #1c1c1c;
}

.container {
  max-width: 400px;
  margin: auto;
}

.header {
  background: #6943ff;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header h1 {
  margin-bottom: 10px;
  font-size: 20px;
}

#input-el {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 40px;
  padding: 8px;
  border: 1px solid #b295ff;
  color: #fff;
  font: 600 50px "Inter", sans-serif;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #6943ff;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  background: #fff;
  color: #3d3d3d;
  border: none;
  font-size: 18px;
  padding: 4px 14px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.conversion {
  background: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 12px 0;
}

.unit {
  background: #273549;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  margin: 8px auto;
  width: 85%;
  max-width: 750px;
}

.unit h3 {
  margin-bottom: 8px;
  color: #ccc1ff;
  font-size: 15px;
}

.unit p {
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 350px;
    padding-top: 150px;
  }
  .header h1,
  .unit h3 {
    font-size: 17px;
  }
  .unit p {
    font-size: 13px;
  }
}
